{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Pragma" content="no-cache">
        <link rel="stylesheet"
              href="{% static 'rateme/owl.carousel.2.0.0-beta.2.1/assets/owl.carousel.min.css' %}">
        <link rel="stylesheet"
              href="{% static 'rateme/owl.carousel.2.0.0-beta.2.1/assets/owl.theme.default.min.css' %}">
        <link rel="stylesheet"
              href="{% static 'rateme/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet"
              href="{% static 'rateme/bootstrap/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet"
              href="{% static 'rateme/Hover-master/css/hover-min.css' %}">
        <link rel="stylesheet"
              href="{% static 'rateme/owl.carousel.2.0.0-beta.2.1/assets/owl.doc.css' %}">

        <!--link rel="stylesheet"
        href="{% static 'rateme/bootstrap/css/debug.pesticide.css' %}"-->
    </head>
    <body>
        <div class="container-fluid" >
            <!-- stellar header -->
            <div id="header" class="row stellar-page-header">
                <div class="col-md-10">
                        <span class="label-xx-large">Stellar</span>
                </div>
                <div class="col-md-1 col-md-offset-1">
                    <span class="label-small">Login</span>
                </div>
            </div>
            <div id="navigation-static" class="row row-red">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Library</a></li>
                        <li class="active">Data</li>
                    </ol>
                </div>
            </div>
            <div id="content" class="row">
                <div class="col-md-12">
                    <section id="demos">
                        <div id="left-content" class="col-md-10 row-white-border">
                            <div class="owl-carousel">
                                <div class="item"
                                     data-hash="generalDiscussion">
                                    <div>General Discussion</div>
                                    <img src="http://www.owlgraphic.com/owlcarousel/demos/assets/fullimage1.jpg">
                                </div>
                                <div class="item"
                                     data-hash="officialAnnouncements">
                                    <div>Official Announcements</div>
                                    <img src="http://www.owlgraphic.com/owlcarousel/demos/assets/fullimage2.jpg">
                                </div>
                                <div class="item"
                                     data-hash="media">
                                    <div>Media</div>
                                    <img src="http://www.owlgraphic.com/owlcarousel/demos/assets/fullimage3.jpg">
                                </div>
                                <div class="item"
                                     data-hash="otherCategories">
                                    <div>Other Categories</div>
                                    <img src="http://www.owlgraphic.com/owlcarousel/demos/assets/fullimage4.jpg">
                                </div>
                            </div>
                        </div>
                        <div id="right-content" class="col-md-2 row-white-border">
                                <div class="block-red">Top Ranked Categories</div>
                                <nav id="rankedCategory" role="navigation">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li class="active">
                                            <a href="#generalDiscussion">
                                                <span class="badge">42</span>
                                                <div>General Discussion</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#officialAnnouncements">
                                                <span class="badge">10</span>
                                                <div>Announcement</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#media">
                                                <span class="badge">1</span>
                                                <div>Media</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#otherCategories">
                                                <span class="badge">5</span>
                                                <div>Other Categories</div>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div id="findOrderContainer">
                        <div class="input-group">
                            <input id="searchAutocomplete"
                                   type="text"
                                   class="form-control"
                                   placeholder="Search forum">
                            <span class="input-group-btn ">
                                <button id="searchForum" class="btn btn-default glyphicon glyphicon-search button-search" type="button"/></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <!-- footer -->
            <div id="footer" class="row">
                <div class="col-md-12">
                    <div class="">
                        Version: 0.0.1
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'rateme/jquery/js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'rateme/owl.carousel.2.0.0-beta.2.1/owl.carousel.min.js' %}"></script>

    <script>
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                loop: true,
                margin: 10,
                center: true,
                items: 1,
                stagePadding: 50,
                smartSpeed: 700,
                URLhashListener: true,
                startPosition: "URLHash"
            });
        });
    </script>
</html>