#demos .owl-carousel {
    margin: 2rem 0;
}

#demos .owl-carousel .item {
    height: 20rem;
    width: 100%;
    background: #4DC7A0;
    padding: 1rem;
}

#demos .owl-carousel .item h4 {
    color: #FFF;
    font-weight: 400;
    margin-top: 0rem;
}

#demos .owl-carousel .item-video {
    height: 300px;
}

#demos #setup {
    margin-top: 4rem;
}

#demos .demo-list h5 {
    margin: 0;
}
/* demos */
.article{
	background: #008cba;
	height: 180px;
	padding: 10px;
}

.article-video{
	height: 180px;
}

.article h2{
	color: #FFF;
}

.article p{
	color: #FFF;
}

.navigation {
    display: block;
    height: 235px;
}
.navigation a:link, a:visited {
    height: 50px;
    line-height: 50px;
    display: block;
    background: #f0ad4e;
    text-align: center;
    margin-top: 10px;
}
