
#demos .owl-carousel {
    margin: 4rem 0;
}

#demos .owl-carousel .item {
    /*height: 25em;*/
    border-radius: 4px;
    padding-top: 10px;
    padding-left: 10px;
    background: #FF896B;
}

#demos .owl-carousel .item div {
    height: 40px;
    background: #ff5046;
    color: #FFF;
    font-weight: bold;
    margin-top: 0rem;
    line-height: 40px;
    border-radius: 4px 4px 4px 4px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
#demos .owl-carousel .item div:hover {
    font-size: large;
}

.navigation {
    display: block;
    height: 235px;
}
.navigation a:link, a:visited {
    line-height: 30px;
    display: block;
    background: #FF896B;
    text-align: left;;
}

#searchAutocomplete {
    text-align: center;
}

.button-search {
    height: 33px;
}

/* how to override bootstrap css */
#rankedCategory {
    margin: 4rem 0;
}
#rankedCategory .nav-pills > .active > a {
    background-color: #FF896B;
    font-weight: bold;
}
#rankedCategory .nav-pills > .active > a:hover,
#rankedCategory .nav-pills > li > a:hover {
    font-weight: bold;
    font-size: medium;
    color: white;
    background: #FF896B;
}
#rankedCategory .nav-pills > .active > a > div {
    padding-left: 5px;
        background: #ff5046;
    border-radius: 4px 4px 4px 4px;
}

.stellar-page-header {
    background-color: #FF645C;
    display: block;
}
.stellar-page-header .label-xx-large {
    color: #f5f5f5;
    line-height: 90px;
    font-weight: bolder;
    font-size: xx-large;
}

.stellar-page-header .label-small {
    color: #f5f5f5;
    line-height: 50px;
    font-weight: bolder;
    font-size: medium;
    text-align: right;
}

/*override breadcrumb color*/
.breadcrumb {
    background-color: #ff5046;
    color: white;
}
.breadcrumb > li > a {
    color: #f5f5f5;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #f5f5f5;
    content: ">";
}
.breadcrumb > .active {
    color: white;
    font-weight: bolder;
}
.row-red {
    background-color: #FF645C;
}
